name: CI and Push to GHCR

on:
  workflow_dispatch:
  push:
    branches: [ "main", "auto-generate-models-python", "develop-monorepo" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Tools & Dependencies
        run: |
          pip install fastapi uvicorn pytest httpx datamodel-code-generator

      - name: Generate Models from Source of Truth
        run: python -m datamodel_code_generator --input openapi.yaml --output models.py

      - name: Lint code with Ruff
        run: |
          pip install ruff
          ruff check .

      - name: Run Tests
        run: pytest

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}/pet-shelter:latest