name: Monorepo CI/CD and Push to GHCR

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  python-pipeline:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install Python Tools & Dependencies
        run: pip install fastapi uvicorn pytest httpx datamodel-code-generator

      - name: Generate Models from Source of Truth
        run: python -m datamodel_code_generator --input openapi.yaml --output python-app/models.py

      - name: Lint code with Ruff
        run: |
          pip install ruff
          ruff check .

      - name: Run Tests
        run: |
          cd python-app
          pytest

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./python-app/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/python-pet-shelter:latest
  
  java-pipeline:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      
      - name: Build Java App
        run: |
          cd java-app
          mvn clean package -DskipTests

      - name: Log in to GitHub Container Registry (GHCR)
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./java-app/Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository }}/java-pet-shelter:latest